.DS_Store
dump.sql
dump_global.sql
dump_global_sec_cfg.sql

env.sh
docker_env.list

tools/sysmon.xml

.idea/
.venv/
.vscode/launch.json
.vscode/settings.json

tmpcwd/*
tmpdir/*
!.gitkeep

luacov-html
luacov.*
!luacov.lua
coverage-report
junit.xml
